a.test1 {
    background-image: url('data:image/gif;base64,R0lGODlhAQABAIABANvf7////yH+EUNyZWF0ZWQgd2l0aCBHSU1QACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==');
}
a.test2 {
    background-image: url("data:image/gif;base64,R0lGODlhAQABAIABANvf7////yH+EUNyZWF0ZWQgd2l0aCBHSU1QACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==");
}
a.test3 {
    background-image: url(data:image/gif;base64,R0lGODlhAQABAIABANvf7////yH+EUNyZWF0ZWQgd2l0aCBHSU1QACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==);
}